@font-face {
  src: url("../fonts/Ristretto_Pro/RistrettoPro-Regular.otf");
  font-family: "RistrettoPro";
  font-weight: 400; }

@font-face {
  src: url("../fonts/Ristretto_Pro/RistrettoPro-Medium.otf");
  font-family: "RistrettoPro";
  font-weight: 500; }

@font-face {
  src: url("../fonts/Ristretto_Pro/RistrettoPro-SemiBold.otf");
  font-family: "RistrettoPro";
  font-weight: 600; }

@font-face {
  src: url("../fonts/Ristretto_Pro/RistrettoPro-Bold.otf");
  font-family: "RistrettoPro";
  font-weight: 700; }
